[Unit]
Description=sbnb tunnel service
After=sbnb-storage.service
Wants=sbnb-storage.service
ConditionPathExists=/mnt/sbnb/tunnel-start.sh

[Service]
Type=simple
ExecStart=/bin/sh /mnt/sbnb/tunnel-start.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

