[Unit]
Description=Mount VMware shared folder
ConditionVirtualization=vm
ConditionPathExists=/usr/bin/vmhgfs-fuse

[Service]
Type=oneshot
ExecStart=/usr/bin/reefy-mount-vmware.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
